*{
  user-select: none;
}
body{
  background-color:black;/*#213d;*/
  width:95vw;
  height:95vh;
  font-family:arial;
  color:white;
  font-weight:bold;
  overflow:hidden;
}
#mainCanvas{
  width:800px;
  height:600px;
}

#bottombar{
  width:800px;
  display:flex;
  background-color:grey;
}

#inventoryButton{

}

.bottomButton{
  padding:10px 20px;
  border-style:solid;
  background-color:#555f;
  cursor:pointer;
}

.bottomButton:hover{
  background-color:#888f;
}
