body{
  background-color:#213d;
  width:95vw;
  height:95vh;
  display:flex;
  font-family:arial;
  color:white;
  font-weight:bold;
  flex-direction:column-reverse;
  justify-content:center;
  align-items:center;
}
canvas{
  width:600px;
  height:600px;
}
