body{
  background-color:black;/*#213d;*/
  width:95vw;
  height:95vh;
  font-family:arial;
  color:white;
  font-weight:bold;
}
canvas{
  width:800px;
  height:600px;
}

#bottombar{
  width:800px;
  background-color:grey;
}

#inventoryButton{

}

.bottomButton{
  padding:10px 20px;
  border-style:solid;
  cursor:pointer;
}
