.uiwindow{
  position:fixed;
  min-width:100px;
  min-height:100px;

  max-width:500px;
  z-index:100;
  background-color:grey;

  border-style:solid;
  border-width:1px;
  border-color:black;
  box-shadow:2px 2px #0005;
}

.uiwindow_closebutton{
  position:absolute;
  top:5px;
  right:10px;
  cursor:pointer;
  padding:0 10px;
  color:black;
  background-color:white;
}

.uiwindow_closebutton:hover{
  color:white;
  background-color:black;
}

.uiwindow_title{
  padding:5px;
  background-color:white;
  color:black;
}

.uiwindow_body{
  padding:5px;
}

#mapCanvas{
  margin:10px;
}


.shopitem{
  padding:5px;
  cursor:pointer;
  background-color:#444f;
}

.shopitem:hover{
  background-color:white;
  color:black;
}
